<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/thienly/index.json" />        
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="thienly" />
            <add key="ClearTextPassword" value="e2388c5447de022625e477a8a675f5e5a4c6185e" />
        </github>
    </packageSourceCredentials>
</configuration>